html,body {
    margin:0;
    //overflow: hidden; //Uncomment to hide screens beyond Welcome
    font-family: HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    background: #F7F8F9;
}
.screen{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectFiles {
    display: none;
}

#welcomeScreen {
    justify-content: space-evenly;
    background: #20BFF1;
    background: linear-gradient(180deg, rgba(11,153,232,1) 0%, rgba(32,191,241,1) 35%, rgba(0,237,255,1) 100%);
    h1 {
        font-size: 66px;
        font-family: ui-monospace;
    }
}

#login {
    background: #FFFC00;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
}

#menuScreen {
    justify-content: center;
    background: #20BFF1;
    background: linear-gradient(180deg, rgba(11,153,232,1) 0%, rgba(32,191,241,1) 35%, rgba(0,237,255,1) 100%);
        #userCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding-bottom: 10%;
            .userSnapcode {
                height: auto;
                width: 40vw;
            }
            #userFullName {
                margin: 5px;
            }
            #username {
                margin: 5px;
                color: #707070;
                font-weight: 400;
            }
        }
        #menuOptions {
        display: flex;
        flex-direction: column;
        width: 90%;
            .menuOption{
                display: flex;
                flex-direction: row;
                align-items: center;
                background: white;
                width: 100%;
                border-radius: 10px;
                padding: 10px 20px;
                margin-bottom:10px;
                box-sizing: border-box;
                justify-content: space-between;
            
                span {
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
                h3 {
                    margin: 0;
                    font-weight: bold;
                }
            }
            p {
                margin-right: 5px;
            }
            i, p {
                color: #707070;
            }
        }
}

#contentScreen {
    background: #20BFF1;
    background: linear-gradient(180deg, rgba(11,153,232,1) 0%, rgba(32,191,241,1) 35%, rgba(0,237,255,1) 100%);
    #contentHeaderBar {
        #openMenu {
            width: 100vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-wrap: nowrap;
            font-weight: bold;
            color: black;
        }
    }
    #friendContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-shrink: 0;
        width: 100%;
        height:auto;
    }
    
    .card {
        background: #FFFFFF;
        border-radius: 10px;
        width: 40vw;
        height: 25vh;
        margin: 2vw;
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .userSnapcode {
            height: auto;
            width: 60%;
            margin: 10px;
        }
        .friendName {
            margin: 0px;
        }
        .username {
            margin: 0px;
            color: #707070;
            font-weight: 400;
        }
    }
}
