html, body {
  margin: 0;
  overflow: hidden;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #F7F8F9;
}

.screen {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selectFiles {
  display: none;
}

#welcomeScreen {
  justify-content: space-evenly;
  background: #20BFF1;
  background: linear-gradient(180deg, rgb(11, 153, 232) 0%, rgb(32, 191, 241) 35%, rgb(0, 237, 255) 100%);
}
#welcomeScreen h1 {
  font-size: 66px;
  font-family: ui-monospace;
}

#login {
  background: #FFFC00;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
}

#menuScreen {
  justify-content: center;
  background: #20BFF1;
  background: linear-gradient(180deg, rgb(11, 153, 232) 0%, rgb(32, 191, 241) 35%, rgb(0, 237, 255) 100%);
}
#menuScreen #userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-bottom: 10%;
}
#menuScreen #userCard .userSnapcode {
  height: auto;
  width: 40vw;
}
#menuScreen #userCard #userFullName {
  margin: 5px;
}
#menuScreen #userCard #username {
  margin: 5px;
  color: #707070;
  font-weight: 400;
}
#menuScreen #menuOptions {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#menuScreen #menuOptions .menuOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}
#menuScreen #menuOptions .menuOption span {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
#menuScreen #menuOptions .menuOption h3 {
  margin: 0;
  font-weight: bold;
}
#menuScreen #menuOptions p {
  margin-right: 5px;
}
#menuScreen #menuOptions i, #menuScreen #menuOptions p {
  color: #707070;
}

#contentScreen {
  background: #20BFF1;
  background: linear-gradient(180deg, rgb(11, 153, 232) 0%, rgb(32, 191, 241) 35%, rgb(0, 237, 255) 100%);
}
#contentScreen #contentHeaderBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  background: white;
}
#contentScreen #contentHeaderBar #openMenu {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  font-weight: bold;
  color: black;
}
#contentScreen #friendContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  width: 100%;
  height: auto;
}
#contentScreen .card {
  background: #FFFFFF;
  border-radius: 10px;
  width: 46vw;
  height: 25vh;
  margin: 1.5vw;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#contentScreen .card .userSnapcode {
  height: auto;
  width: 60%;
  margin: 5px;
}
#contentScreen .card .friendName {
  margin: 0px;
}
#contentScreen .card .username {
  margin: 0px;
  color: #707070;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}/*# sourceMappingURL=style.css.map */